{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Provider Group Creation</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_start(edit_form) }}
                <div class="form-group">
                    <label>Provider Group Name:</label>
                    {{ form_widget(edit_form.prgName, { 'attr': {'class': 'form-control'} }) }}
                    <small class="form-text text-muted">
                        {{ form_errors(edit_form.prgName) }}
                    </small>
                </div>
                <div class="form-group">
                    <label>Active</label>
                    {{ form_widget(edit_form.prgStatus) }}
                </div>
                <input type="submit" class="btn btn-success" value="Update" />
                <input type="reset" class="btn btn-danger" value="Reset Values in Form" />
                <a href="{{ path('admin_provider_group_index') }}">
                    <button type="button" class="btn btn-info">Back to the list</button>
                </a>
                {{ form_end(edit_form) }}            
            </div>
        </div>        
    </div>

{% endblock %}
