{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('jquery-jvectormap-2.0.3/jquery-jvectormap-2.0.3.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('vendor/datatables-plugins/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/datatables-responsive/dataTables.responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('css/jquery.growl.css') }}" rel="stylesheet" type="text/css">
    <style>
        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
        tfoot {
            display: table-header-group;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Vendor list</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h3>Number of vendors by country</h3>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div data-url_action="{{ url('count_by_country') }}" id="world-map-gdp" style="height:400px;"></div>
            </div>
        </div>
        <br />
        <div class="row" id="table_div_cont">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        DataTables Advanced Tables
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        Rating equal or below: <input id="rating" name="rating" type="number" min="1" max="5" value="5" style="height: 20px;">


                        <!-- End of filter-->

                        <table width="100%" class="table table-striped table-bordered table-hover" id="provider_table_list">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Rating</th>
                                    <th>Web site</th>
                                    <th>Main Phone</th>
                                    <th>Country Based</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Rating</th>
                                    <th>Web site</th>
                                    <th>Main Phone</th>
                                    <th>country</th>
                                    <th>Action</th>
                                </tr>                            
                            </tfoot>
                            <tbody>
                                {% for amlProvider in amlProviderList %}
                                    <tr>
                                        <td><a href="{{ path('provider_edit', { 'proId': amlProvider.pro_id }) }}">{{ amlProvider.pro_name }}</a></td>
                                        <td>{{ amlProvider.rating }}</td>
                                        <td>{{ amlProvider.pro_site_url }}</td>
                                        <td>{{ amlProvider.pro_main_phone_number }}</td>
                                        <td>{{ amlProvider.cou_name }}</td>
                                        <td><a class="delete_link" href="#" data-pro_id="{{amlProvider.pro_id}}" data-action_url="{{ path('do_delete_provider')}}">Delete</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>        
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('jquery-jvectormap-2.0.3/jquery-jvectormap-2.0.3.min.js') }}"></script>
    <script src="{{ asset('jquery-jvectormap-2.0.3/world_mill.js') }}"></script>
    <script src="{{ asset('jquery-jvectormap-2.0.3/jmap-data.js') }}"></script>
    <script src="{{ asset('vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.growl.js') }}"></script>
    <script>
        $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var min = parseInt($('#rating').val(), 10);
                    var age = parseFloat(data[1]) || 0; // use data for the age column
                    if (isNaN(min) || min >= age)
                    {
                        return true;
                    }
                    return false;
                }
        );
        var aCountryStats;
        $(document).ready(function () {

            $.ajax({
                url: $("#world-map-gdp").data('url_action'),
                type: 'GET',
                dataType: 'json',
                async: false,
                success: function (data) {
                    aCountryStats = data;
                }
            });
            $('#provider_table_list tfoot th').each(function () {
                var title = $(this).text();
                if (title !== "Action") {
                    $(this).html('<input id="filter_' + title + '" type="text" placeholder="Search ' + title + '" />');
                }
            });

            var table = $('#provider_table_list').DataTable({
                lengthChange: false
            });

            $(".delete_link").click(function () {
                var action = $(this).data("action_url");
                var proId = $(this).data("pro_id");
                var row = $(this).parents('tr');
                if (confirm("Are you sure you want to delete this provider and all the information related with it? (There is no rollback for this operation)")) {
                    $.ajax({
                        url: action,
                        type: 'GET',
                        dataType: 'json',
                        data: {pro_id: proId},
                        success: function (data) {
                            if (data.message_list.length === 0) {
                                $.growl.notice(
                                        {
                                            title: "Deleted",
                                            message: "Vendor has been successfully deleted",
                                            fixed: true
                                        }
                                );
                                table.row().remove(row).draw();
                            } else {
                                data.message_list.forEacg(function (element) {
                                    $.growl.notice(
                                            {
                                                title: "Error!",
                                                message: element,
                                                fixed: true
                                            }
                                    );
                                });
                            }

                        }, error: function (a, b, c) {
                            console.log(a);
                            console.log(b);
                            console.log(c);
                        }
                    });
                }
                return false;
            });

            $('#rating').keyup(function () {
                table.draw();
            });
            $('#rating').on("change", function () {
                table.draw();
            });
            table.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                });
            });

            $('#world-map-gdp').vectorMap({
                map: 'world_mill',
                backgroundColor: '#eeeeee',
                zoomOnScroll: false,
                series: {
                    regions: [{
                            values: aCountryStats,
                            scale: ['#C8EEFF', '#0071A4'],
                            normalizeFunction: 'polynomial'
                        }]
                },
                onRegionClick: function (e, code) {
                    var map = $('#world-map-gdp').vectorMap('get', 'mapObject');
                    var name = map.getRegionName(code);
                    $("#filter_country").val(name);
                    $("#filter_country").change();
                    table.draw();
                    $(window).scrollTop($('#table_div_cont').offset().top);
                },
                onRegionTipShow: function (e, el, code) {
                    var c = aCountryStats[code];
                    if (typeof aCountryStats[code] === 'undefined') {
                        c = 0;
                    }
                    el.html(el.html() + ' (' + c + ')');
                }
            });
        });
    </script>    
{% endblock %}