<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Send Email: {{ oContact.prcEmail }}</h4>
</div>
<div class="modal-body">
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="form-group">
            <label>Select template:<span></span></label>
            <input type="hidden" id="contact_email_text" value="{{ oContact.prcEmail }}" />
            <select class="form-control" id="template_select" data-action_url="{{ url('modal_get_email_by_id') }}">
                <option value="" disabled="disabled" selected="selected">Select a Template</option>
                {% for email in aEmailTemplate%}
                    <option value="{{ email.emaId }}">{{ email.emaName }}</option>
                {% endfor %}
            </select>
        </div>
        <textarea rows="4" class="form-control" id="email_body" name="email_body"></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="send_mail_submit" data-action_url="{{ url('modal_send_email') }}">Send Email</button>
    </div>
</div>
<script>
    CKEDITOR.replace('email_body');
    $(document).ready(function () {

        $("#send_mail_submit").on("click", function () {
            if (CKEDITOR.instances['email_body'].getData().length === 0) {
                $.growl.error({title: "Error while trying to send the email", message: "Please, Enter a message in the textbox"});
                return false;
            }
            $(this).prop('disabled', true);
            var sAction = $(this).data("action_url");
            var sMail = $("#contact_email_text").val();
            $.ajax({
                url: sAction,
                type: 'POST',
                dataType: 'json',
                data: {
                    emailTo: sMail,
                    emailSubject: $("#template_select option:selected").text(),
                    emailBody: CKEDITOR.instances['email_body'].getData()
                },
                success: function (data) {
                    if (data.error_list.length === 0) {
                        $.growl.notice({title: "Sent!", message: "Your email was successfully sent!"});
                    } else {
                        for (c = 0; c < data.error_list.length; c++) {
                            $.growl.error({title: "Error while trying to send the email", message: data.error_list[c]});
                        }
                    }
                    $("#send_mail_submit").prop('disabled', false);
                    $("#main_modal_email").modal("hide");
                }
            });
            return false;
        });

        $("#template_select").on("change", function () {
            var iTemplateId = $(this).val();
            var sAction = $("#template_select").data("action_url");
            $.ajax({
                url: sAction,
                type: 'GET',
                data: {template_id: iTemplateId},
                success: function (data) {
                    CKEDITOR.instances['email_body'].setData(data);
                }
            });
        });
    });
</script>