{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/multiple-select.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/fontawesome-stars.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/jquery.growl.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Show Provider</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">            
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form name="edit_provider_form" id="edit_provider_form" role="form" data-action_url="{{ path('edit_provider_action') }}" method="post">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="hidden" id="provider_id" value="{{ aProvider.pro_id }}" name="provider[id]" />
                                            <input type="text" class="form-control" disabled="disabled" value="{{ aProvider.pro_name }}">
                                        </div>
                                        <div class="form-group">
                                            <label>Country is based on</label>
                                            <input type="text" class="form-control" disabled="disabled" value="{{ aProvider.cou_name }}" />
                                        </div>
                                        <div class="form-group">
                                            <label>City</label>
                                            <input type="text" class="form-control" disabled="disabled" value="{{ aProvider.cit_name }}" />
                                        </div>
                                        <div class="form-group">
                                            <label>Fax</label>
                                            <input type="text" class="form-control" disabled="disabled" value="{{ aProvider.pro_fax }}">
                                        </div>
                                        <div class="form-group">
                                            <label>Group</label>
                                            <input type="text" class="form-control" disabled="disabled" value="{{ aProvider.prg_name }}" />
                                        </div>
                                        <div class="form-group">
                                            <label>Provider Type</label>
                                            <input type="text" class="form-control" disabled="disabled" value="{{ aProvider.prt_name }}" />
                                        </div>
                                    </div>
                                    <!-- Column left-->
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Afiliation</label>
                                            <input type="text" class="form-control" disabled="disabled" value="{{ aProvider.pra_name }}" />
                                        </div>
                                        <div class="form-group">
                                            <label>Services</label> <br />
                                            <select name="pro_services[]" id="serviceListbox" multiple="multiple">
                                                {% for amlService in amlServices %}
                                                    <option value="{{ amlService.serId }}">
                                                        {{ amlService.serName }}
                                                    </option>
                                                {% endfor%}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="text1"> Is this provider related to any other provider?</label><br />
                                            <select name="pro_relations[]" id="providerRelationListbox" multiple="multiple" style="min-width: 316px;">
                                                {% for amlProvider in amlProviders %}
                                                    <option value="{{ amlProvider.proId }}">{{ amlProvider.proName }}</option>
                                                {% endfor%}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Description</label>
                                            <textarea name="provider[description]" class="form-control" rows="5" id="comment" disabled="disabled">{{ aProvider.pro_description}}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Provider site URL</label>
                                            <input class="form-control" disabled="disabled" value="{{ aProvider.pro_site_url }}">
                                        </div>                                            
                                    </div>

                                    <!-- End Contact list-->

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-lg-12 align-items-center" data-remove_prc_action="{{ path('delete_provider_contact') }}" id="contact_list_div">
                                                <p style="font-size: 2em; font-weight: bold;">Contact list</p>
                                            </div>
                                            <div class="col-lg-12 align-items-center">
                                                {% for contact in aProvider.contact_list %}
                                                    <label id="contact_{{contact.prc_id}}">
                                                        <div class="col-auto" style="margin-bottom: 5px;">
                                                            <div class="input-group">
                                                                <input style="margin-right: 5px;" type="text" disabled="disabled" value="{{ contact.prc_name }}" />
                                                                <input style="margin-right: 5px;" type="text" disabled="disabled" value="{{ contact.prc_phone_number }}" />
                                                                <input style="margin-right: 5px;" type="text" disabled="disabled" value="{{ contact.prc_job_title }}" />
                                                                <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                                                                <input style="margin-right: 5px;" type="text" disabled="disabled" value="{{ contact.prc_email }}" />
                                                                <button type="button" class="remove_contact" data-prc_id="{{contact.prc_id}}" >
                                                                    <img src="{{ asset('images/remove.png') }}" />
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </label>
                                                {% endfor %}                                                
                                                <div data-dynamic-form>
                                                    <div data-dynamic-form-template="multi">
                                                        <label>
                                                            <div class="col-auto">
                                                                <div class="input-group">
                                                                    <input required="required" style="margin-right: 5px;" type="text" name="contact[ID][name]" placeholder="Name" data-dynamic-form-input-id-template="ID"/>
                                                                    <input required="required" style="margin-right: 5px;" type="text" name="contact[ID][phone]" placeholder="Phone Number" data-dynamic-form-input-id-template="ID"/>
                                                                    <input required="required" style="margin-right: 5px;" type="text" name="contact[ID][job_title]" placeholder="Job Title" data-dynamic-form-input-id-template="ID"/>
                                                                    <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                                                                    <input required="required" style="margin-right: 5px;" type="email" name="contact[ID][email]" placeholder="eMail" data-dynamic-form-input-id-template="ID"/>
                                                                    <button type="button"  data-dynamic-form-add src="{{ asset('images/add.png') }}">
                                                                        <img src="{{ asset('images/add.png') }}" />
                                                                    </button>
                                                                    <button type="button" data-dynamic-form-remove>
                                                                        <img src="{{ asset('images/remove.png') }}" />
                                                                    </button>                                                                
                                                                </div>
                                                            </div>
                                                            <!-- <input style="margin-right: 5px;" type="email" name="contact[ID][email]" placeholder="eMail" data-dynamic-form-input-id-template="ID"/> -->
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <h3>Rate this provider - Current overall Rate: 
                                                    <span style="color: green;">{{ iCurrentScoreAvg }}
                                                        <span style="color: #999999; font-size:0.6em;">
                                                            (Overall rate calculated with all individual rates)
                                                        </span> 
                                                    </span>
                                                </h3>
                                            </div>
                                            <div class="row-fluid" >
                                                {% for amlEvaluationPoint in amlEvaluationPoints %}
                                                    <div class="form-group col-lg-3">
                                                        <label>{{ amlEvaluationPoint.evpName }}</label>
                                                        <span style="color: #999999;">Current Rate: </span>
                                                        <span style="color: {{ aCurrentScoreAvgPoint[amlEvaluationPoint.evpId]["class"] }};">
                                                            [{{ aCurrentScoreAvgPoint[amlEvaluationPoint.evpId]["score"] }}]
                                                        </span>
                                                        <select name="evaluation[{{amlEvaluationPoint.evpId}}]" class="stars">
                                                            {% for i in 1..5%}
                                                                <option value="{{i}}">{{i}}</option>
                                                            {% endfor%}
                                                        </select>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="row-fluid">
                                                <div class="col-lg-6">
                                                    <button data-action_url="{{ url('modal_get_additional') }}" type="button" id="info_modal_button" class="btn btn-primary btn-lg btn-block" data-toggle="modal">
                                                        View Provider address and phone
                                                    </button>
                                                </div>
                                                <div class="col-lg-6">
                                                    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#modalcomments">
                                                        View Comments
                                                    </button>
                                                </div>                                                
                                            </div>
                                            <div class="row-fluid" style="margin-top: 15px;">
                                                <div class="col-lg-5" style="margin-top: 15px;">
                                                    <button name="edit_provider_form[save]" type="submit" class="btn btn-primary" id="save_button">Save</button>
                                                    <button type="reset" class="btn btn-default">Reset</button>    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="main_modal_additional_information">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Additional Info</h4>
                </div>
                <div class="modal-body" id="body_additional_info_modal">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/multiple-select.js') }}"></script>
    <script src="{{ asset('js/jquery.barrating.js') }}"></script>
    <script src="{{ asset('js/dynamic_forms.min.js') }}"></script>
    <script src="{{ asset('js/jquery.growl.js') }}"></script>
    <script>
        function sleep(time) {
            return new Promise((resolve) => setTimeout(resolve, time));
        }
        $(document).ready(function () {

            $("#info_modal_button").on("click", function () {
                var sAction = $(this).data("action_url");
                $.ajax({
                    url: sAction,
                    type: 'GET',
                    data: { proId :  $("#provider_id").val() },
                    async: false,
                    success: function (data) {                        
                        $("#body_additional_info_modal").html(data);
                        $("#main_modal_additional_information").modal("show");
                    }
                });                
            });

            $(".remove_contact").on("click", function () {
                var prcId = $(this).data("prc_id");
                if (confirm("Do you really want to delete this contact?")) {
                    $.ajax({
                        url: $("#contact_list_div").data("remove_prc_action"),
                        dataType: 'json',
                        type: 'GET',
                        data: {prcId: prcId},
                        async: false,
                        success: function (data) {
                            for (c = 0; c < data.error_list.length; c++) {
                                $.growl.error({title: "Error while trying to delete the record", message: data.error_list[c]});
                            }
                            if (data.error_list.length === 0) {
                                $.growl.notice({title: "Deleted!", message: "Contact was successfully deleted!"});
                                $("#contact_" + prcId).remove();
                            }
                        }
                    });
                }

            });

            $("form#edit_provider_form").submit(function () {
                $('#save_button').prop('disabled', true);
                var formData = new FormData(this);
                var sAction = $(this).data("action_url");
                $.ajax({
                    url: sAction,
                    type: 'POST',
                    data: formData,
                    async: false,
                    success: function (data) {
                        for (c = 0; c < data.error_list.length; c++) {
                            $.growl.error(
                                    {
                                        title: "Error while trying to save the vendor",
                                        message: data.error_list[c],
                                        fixed: true
                                    }
                            );

                        }
                        if (data.error_list.length === 0) {
                            $.growl.notice({title: "Saved!", message: "Vendor was Successfully saved!", fixed: true});
                            sleep(2500).then(() => {
                                window.location.reload(true);
                            });

                        } else {
                            $('#save_button').prop('disabled', false);
                        }
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
                return false;
            });
        });
        $('#serviceListbox').multipleSelect({
            width: 460,
            multiple: true,
            multipleWidth: 400,
            filter: true,
            selectAll: false
        });
        $('.stars').barrating({
            theme: 'fontawesome-stars'
        });
        $('#providerRelationListbox').multipleSelect({
            width: 460,
            multiple: true,
            multipleWidth: 400,
            filter: true,
            selectAll: false
        });
        $("#providerRelationListbox").multipleSelect("setSelects", {{ aProvider.relation_list|json_encode|raw }});
        $("#serviceListbox").multipleSelect("setSelects", {{ aProvider.service_list|json_encode|raw }});

        var dynamicForms = new DynamicForms();
        dynamicForms.automaticallySetupForm();
    </script>
{% endblock %}
