{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Provider Type Creation</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-6">
                {{ form_start(form) }}
                <div class="form-group">
                    <label>Provider Type Name:</label>
                    {{ form_widget(form.prtName, { 'attr': {'class': 'form-control'} }) }}
                    <small class="form-text text-muted">
                        {{ form_errors(form.prtName) }}
                    </small>
                </div>
                <div class="form-group">
                    <label>Provider Type Description:</label>
                    {{ form_widget(form.prtDescription, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="form-group">
                    <label>Active:</label>
                    {{ form_widget(form.prtStatus, { 'attr': {'disabled': 'disabled', } }) }}
                </div>
                <input type="submit" class="btn btn-success" value="Create" />
                <input type="reset" class="btn btn-danger" value="Reset Values in Form" />
                <a href="{{ path('admin_provider_type_index') }}">
                    <button type="button" class="btn btn-info">Back to the list</button>
                </a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
