{% extends 'base.html.twig' %}

{% block body %}
    <h1>Amluser</h1>

    <table>
        <tbody>
            <tr>
                <th>Usename</th>
                <td>{{ amlUser.useName }}</td>
            </tr>
            <tr>
                <th>Usepassword</th>
                <td>{{ amlUser.usePassword }}</td>
            </tr>
            <tr>
                <th>Usestatus</th>
                <td>{% if amlUser.useStatus %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Useemail</th>
                <td>{{ amlUser.useEmail }}</td>
            </tr>
            <tr>
                <th>Usephonenumber</th>
                <td>{{ amlUser.usePhoneNumber }}</td>
            </tr>
            <tr>
                <th>Useid</th>
                <td>{{ amlUser.useId }}</td>
            </tr>
            <tr>
                <th>Useconfirmationdate</th>
                <td>{% if amlUser.useConfirmationDate %}{{ amlUser.useConfirmationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Useexpirationdate</th>
                <td>{% if amlUser.useExpirationDate %}{{ amlUser.useExpirationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_user_edit', { 'useId': amlUser.useId }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
